
h4{
   color: #b9dbe5;
   font-family: 'Roboto', sans-serif;
}
#couleurh1{
    color: #b9dbe5;
    font-family: 'Roboto', sans-serif;
}
.coul{
    color: #b9dbe5;
    font-family: 'Roboto', sans-serif;
}
.lionne{
    color: #b9dbe5;
    font-family: 'Roboto', sans-serif;
}


#bo{
    margin-bottom: 2rem;
}
#saison{
    margin-top: 5rem;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 20px;
}
#salut{
    border: none;
}

.bas-page{
    display: flex;
   text-align: center;
   justify-content: space-between;
    
}
footer{
    background-color: #f3b17f;
    color: #ffff;
    bottom: 0;
}
.banniere{
    background-image: url(Images/sushi-nav.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

.bg-light{
    background: transparent!important;
}
h1{
    font-family: 'Roboto', sans-serif;
}
p{
text-align: center;
    font-family: 'Open Sans', sans-serif;
}
h2{
    text-align: center;
    font-family: 'Roboto', sans-serif;

}
iframe{
    width: 95%; 
    height: 90%;
    margin-right: 1%;
    margin-left: 3%;
    

    
}

.navbar-brand{
    width: 6em;

}

@media (max-width: 900px) {

    .navbar-brand {
       width: 3em;
    }
}